<html>
    <head>
        <script src="static/external/angular.js"></script>
        <script src="static/external/moment.js"></script>
        <script src="static/external/jquery.js"></script>
        <script src="static/external/highcharts.src.js"></script>
    </head>
    <body ng-app="HelloWorldApp" ng-controller="HelloWorldController">
        <h1>namepy - Angular Hello World</h1>
        <p>Welcome, today is [[ dateToday ]]</p>
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

        <script>
            angular.module('HelloWorldApp', [])
                .config(function($interpolateProvider){
                    $interpolateProvider.startSymbol('[[').endSymbol(']]');
                })   
                .controller('HelloWorldController', function($scope, $http) {
                    $scope.dateToday = moment().format('MMMM Do YYYY');

                    $scope.showChart = function(response_data) {

                    	chart_data = []
                    	angular.forEach(response_data.objects, function(name_object, key) {

                    		boys_count = []
                    		angular.forEach(name_object.frequencies, function(frequency, key) {
                    			boys_count.push(frequency.boys_count);
                    		});
                    		chart_data.push({ name: name_object.name, data: boys_count });
                    	});

		                $('#container').highcharts({
		                    chart: {
		                        type: 'column'
		                    },
		                    title: {
		                        text: 'Name frequencies'
		                    },
		                    series: chart_data
		                });
                    };

                    $http.get('api/name')
                    	.then(function(response) {
                    		$scope.showChart(response.data);
                    	});
                });

        </script>

    </body>
</html>
